html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: whitesmoke;
}

#canvas {
    min-width: 950px;
    min-height: 690px;
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}